
<div class="container">
    <button class="btn btn-success btn-sm" (click)="onCreateblock()">Create Block</button>
<br><br>
<div *ngIf="isValid;then thenblock; else elseblock"> </div>



<ng-template #thenblock>
    Block created
</ng-template>
<ng-template #elseblock>
    <div>No block created</div>
</ng-template>
</div>