<p>event-binding works!</p>
<button (click)="onAddcart()">Add to cart</button><br>


<input type="text" value="myinputtext" (click)="onInputClick($event)">
<br>
<button value="Laptop" (click)="onAddcart1($event)"> Laptop</button><br>
<button value="TV" (click)="onAddcart1($event)"> TV</button><br>
<button value="washing machine" (click)="onAddcart1($event)"> Washing machine</button>


<p> {{msg}}</p>



