<div class="card">
<div class="card-body text-left " >
  <ng-container *ngFor ="let product of products">
   
Product Name : <b><i class="text-muted"> {{product.name }} </i></b> <br>
 Product Id : <strong > {{product.id }} </strong> <br>
<!-- <h5 class="card-title">Laptop</h5>
<p class="card-text">some text here for card example</p>
<button (click)="btnClick()" class="btn btn-success"> newsletter subscribe</button> -->
</ng-container></div>
</div>