<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<p>pipes works!</p>
<!-- {{test | testpipe : 200 }} -->
<!-- search area code -->
<div class="mb-3">
    
    <input type="search" class="form-control" id="search" [(ngModel)]="namesearch" aria-describedby="searchHelp">
    
  </div>
  <!-- table code -->
<table class="table">
    <thead>
      <tr >
        <th scope="col">sno.</th>
        <th scope="col">product name</th>
        <th scope="col">Price</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let product of productArr |testpipe:namesearch">
        <th scope="row">{{product.sno}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
      
    </tbody>
  </table>