<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <table>
            <thead>
                <tr><th>sr no.</th>
                    <th>product Image</th>
                    <th>product ID</th>
                    <th>product Name</th>
                    <th>product Price</th>
                  
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mypro of products; index as i">
                   <td>{{1+i}}</td>
                    <td><img src="{{mypro.proimg}}" width="70" alt=""></td>
                    <td>{{mypro.id}}</td>
                    <td>{{mypro.name}}</td>
                    <td>{{mypro.price}}</td>
                </tr>
            </tbody>
            </table>
    </div>

</div>
