<div class="card">
    <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">some text here for card example</p>
    <button (click)="btnClick()" class="btn btn-success"> newsletter subscribe</button>
    </div>
    </div>