<p>about works!</p>
<input type="text" placeholder="input here" #val> 
<!-- val = template refrence -->
 <button (click)="submitValue(val)">submit value</button>
<app-comp1 [myValue]="value"> <br> ng-content:{{value}}</app-comp1>

<h4 class="h4">username</h4>

