<p>class-style works!</p>
<!--for binding single class and property-->

<!-- <div class="box" [style.margin]="isActive? mystyle1:'5px'"> class binding </div> -->

<!--for binding multiple class and property-->
<div class="box" [ngClass]="multiclass"> multiple class binding </div>
<!-- for style -->
<div class="box" [ngStyle]="multiStyle"> multiple style binding </div>