<div class="col-md-2">
<select class="form-control" (change)="getProductVal($event)">
<option value="default">Select Product</option>
<option value="Laptop">Laptop</option>
<option value="Mobile">Mobile</option>
<option value="Tv">Tv</option>
<option value="Washing Machine">Washing Machine</option>
</select>
</div>
<div class="col-md-4" [ngSwitch]="selectedProduct">
<h2 class="text-success" *ngSwitchDefault>please select any product</h2>
<h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
<h2 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h2>
<h2 class="text-success" *ngSwitchCase="'Tv'">Tv</h2>
<h2 class="text-success" *ngSwitchCase="'Washing Machine'">Washing Machine</h2>

</div>
