<div class="page-area">
    <h2>contact us</h2>
    <p>lorem ipsum dolor </p>
  <div class="row">
  <div class="col-md-6">
   <app-card1></app-card1>

</div>
    </div>
</div>
<h1>user list http client </h1>
<div>
    <ul *ngFor ='let user of UserList'>
        <li>name&nbsp;{{ user.name }}  <br>
       city&nbsp;{{ user.city }}</li>
    </ul>
</div>