<!-- <h1>
  welcome {{title}}
</h1> -->
<nav class="nav nav-tabs">
<a class="nav-link" routerLinkActive="myActive active" routerLink="about">About</a>  <br> 
<a class="nav-link" routerLinkActive="myActive active" [routerLinkActiveOptions]="{exact:true}" routerLink="test">Test</a><br>
<a class="nav-link" routerLinkActive="myActive active" routerLink="databind">Databinding</a><br>
<a class="nav-link" routerLinkActive="myActive active" routerLink="class-style">class-style data binding</a><br>
<a class="nav-link" routerLinkActive="myActive active" routerLink="two-way">Two way data binding</a><br>
<a class="nav-link" routerLinkActive="myActive active" routerLink="event-binding">event-binding</a><br>
<a class="nav-link" routerLinkActive="myActive active" routerLink="ng-ifelse">Ng-ifelse</a>
<a class="nav-link" routerLinkActive="myActive active" routerLink="ng-switch">Ng-switch</a>
<a class="nav-link" routerLinkActive="myActive active" routerLink="ng-for">Ng-for</a>
<a class="nav-link" routerLinkActive="myActive active" routerLink="contact">contact</a>
<a class="nav-link" routerLinkActive="myActive active" routerLink="login">Login</a>
<a class="nav-link" routerLinkActive="myActive active" routerLink="product">Product</a>
<a class="nav-link" routerLinkActive="myActive active" routerLink="pipes">Pipes</a>

</nav>


<!-- <h1>service in angular </h1>

<h2>{{name}}</h2> -->

<router-outlet></router-outlet>