<p>Welcome {{dyname}}</p> <!--interpolation method does not support boolean expression-->

<!--expression-->
we can use expressions (+,-,*,/) 4*2=
{{4*2}}

<br><br><br>
<!--string concatenation-->
string concatenation=
{{"welcome"+" "+dyname}}
<br><br><br>
<!--checking length-->
checking length=
{{dyname.length}}
<br><br><br>
<!--upper case using toUpperCase method/fun-->
upper case using toUpperCase method/fun =
{{dyname.toUpperCase()}}
<br><br><br>
<!--here we are using method for that we create a method in ts file-->
using method =  
{{myMethod()}}
<br><br><br>
<!-- here we use ternory conditional operator-->
My App staus is {{appStatus?status1:status2}}

<br><br>
Property Binding 

<!-- in pproperty binding we can use non string methods and variable like boolean-->
<input type="text" [disabled]='!enable' name="" id="" [value]="appStatus?status1:status2">
<br><br>
<!-- using bind method-->
<input type="text" [hidden]='enable' name="" id="" bind-value="dyname">
 <div>

    <!-- here we use our custom directive  i.e. appMydirective -->
    <h1>custom directive</h1>
     <h2 appMydirective> hello wolrd  </h2>
 </div>