<div class="row">
    <div class="col-md-8">
        <div class="card" >
 
                <img class="card-img-top" style="width: 150px ; height: 150px;" src="https://m.media-amazon.com/images/I/71+LFEM0A5L._SL1500_.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <p class="card-text">Some quick example text to build on the card .</p>
                  <a  routerLink='laptop' class="btn btn-success">know more</a>
                </div>
        </div>
     
            <div class="card" >
                <img class="card-img-top" style="width: 150px ; height: 150px;" src="https://m.media-amazon.com/images/I/71LRBr1aLNS._SL1500_.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mobile</h5>
                  <p class="card-text">Some quick example text to build on the card .</p>
                  <a routerLink="mobile" class="btn btn-success">know more</a>
                
              </div>
        </div>
            <div class="card" >
                <img class="card-img-top" style="width: 150px ; height: 150px;" src="https://m.media-amazon.com/images/I/71Sdj04A8dS._SL1500_.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tv</h5>
                  <p class="card-text">Some quick example text to build on the card .</p>
                  <a routerLink="television" class="btn btn-success">know more</a>
               
              </div>
        </div>
       
            <div class="card" >
                <img class="card-img-top" style="width: 150px ; height: 150px;" src="https://m.media-amazon.com/images/I/71yMTZh9pSS._SL1500_.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Washing Machine</h5>
                  <p class="card-text">Some quick example text to build on the card .</p>
                  <a routerLink="gg" class="btn btn-success">know more</a>
                </div>
                
    
</div>
<div class="card" >
    <img class="card-img-top" style="width: 150px ; height: 150px;" src="https://m.media-amazon.com/images/I/71LRBr1aLNS._SL1500_.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mobile</h5>
      <p class="card-text">Some quick example text to build on the card .</p>
      <a routerLink="mobile" class="btn btn-success">know more</a>
   
  </div>
</div>
<div class="card" >
    <img class="card-img-top" style="width: 150px ; height: 150px;" src="https://m.media-amazon.com/images/I/71LRBr1aLNS._SL1500_.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mobile</h5>
      <p class="card-text">Some quick example text to build on the card .</p>
      <a routerLink="mobile" class="btn btn-success">know more</a>
   
  </div>
</div>
</div>
<div class="col-md-4 border-left">
  <router-outlet></router-outlet>
</div>
</div>