

.page-area{
    width: 22%;
    margin: 0 auto;
    padding: 15px;
    min-height: 400px;
    background: rgba(248,248, 248,0.22);
    box-shadow: inset 0 0 107px -42px #000;
}
.card {
    display: inline-block;
    margin : 0 10px 10px;
    width: 10%;
}
